<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.weproov.app">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <!-- Notify the play store that we use the camera and any device requires a camera to run the app. -->
    <uses-feature android:name="android.hardware.camera"/>

    <permission
            android:name="com.weproov.app.permission.C2D_MESSAGE"
            android:protectionLevel="signature"/>
    <uses-permission android:name="com.weproov.app.permission.C2D_MESSAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:name="com.weproov.app.MyApplication"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">

        <meta-data
                android:name="AA_DB_NAME"
                android:value="weproov.db"/>
        <meta-data
                android:name="AA_DB_VERSION"
                android:value="1"/>
        <meta-data
                android:name="AA_MODELS"
                android:value="com.weproov.app.models.WeProov, com.weproov.app.models.PictureItem, com.weproov.app.models.CarInfo, com.weproov.app.models.RenterInfo"/>
        <meta-data
                android:name="AA_SERIALIZERS"
                android:value="com.weproov.app.utils.serializers.UriSerializer"/>

        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>


        <activity
                android:name=".ui.LandingActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".ui.MainActivity"
                android:label="@string/app_name"/>

        <activity
                android:name=".ui.RegisterActivity"
                android:parentActivityName=".ui.LandingActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize|stateHidden"
                android:label="@string/app_name"/>

        <!-- Sync stuffs -->
        <provider
                android:authorities="com.weproov.app.provider"
                android:exported="false"
                android:syncable="true"
                android:name="com.activeandroid.content.ContentProvider"/>


        <service
                android:name=".logic.services.SyncService"
                android:process=":sync"
                android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data
                    android:name="android.content.SyncAdapter"
                    android:resource="@xml/syncadapter"/>
        </service>

        <service
                android:name=".logic.services.AuthenticatorService"
                android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                    android:name="android.accounts.AccountAuthenticator"
                    android:resource="@xml/authenticator"/>
        </service>

        <!--
        WakefulBroadcastReceiver that will receive intents from GCM
        services and hand them to the custom IntentService.
        The com.google.android.c2dm.permission.SEND permission is necessary
        so only GCM services can send data messages for the app.
        -->
        <receiver
                android:name=".logic.receivers.GcmBroadcastReceiver"
                android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.google.android.gcm.demo.app"/>
            </intent-filter>
        </receiver>

        <service
                android:name=".logic.services.GcmReceiverService"
                android:exported="false"/>
        <service
                android:name=".logic.services.GcmRegisterService"
                android:exported="false"/>

    </application>

</manifest>
